/* Styles go here */

body {
    padding: 0;
    margin: 0;
    font-family: Helvetica Neue, Helvetica, Arial;
    background: #eee;
}

header {
    height: 100px;
    text-align: center;
    padding-top: 20px;
    box-shadow: 3px 3px 3px #ccc;    
    background: rgba(85,140,195,1);
    background: -moz-linear-gradient(top, rgba(85,140,195,1) 0%, rgba(0,47,92,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(85,140,195,1)), color-stop(100%, rgba(0,47,92,1)));
    background: -webkit-linear-gradient(top, rgba(85,140,195,1) 0%, rgba(0,47,92,1) 100%);
    background: -o-linear-gradient(top, rgba(85,140,195,1) 0%, rgba(0,47,92,1) 100%);
    background: -ms-linear-gradient(top, rgba(85,140,195,1) 0%, rgba(0,47,92,1) 100%);
    background: linear-gradient(to bottom, rgba(85,140,195,1) 0%, rgba(0,47,92,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#558cc3', endColorstr='#002f5c', GradientType=0 );
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin: 0;
}

.main {
    text-align: center;
    padding-top: 80px;
}

#search {
    font-size: 18px;
    
    padding: 0 10px
}

#search label {
    font-weight: bold;
}

#search input {
    font-size: inherit;
    font-family: inherit;
    padding: 10px;
}

#search button {
    font-family: inherit;
    font-size: inherit;
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    padding: 10px;
    
}

@media only screen and (max-width: 600px) {
    #search {
        display: flex;
        flex-direction: column;
    }
    #search input {
        margin: 10px 0;
    }
}

#search button:hover {
    background-color: rgb(23, 107, 190);
    border: 1px solid rgb(23, 107, 190);
}

#weather {
    padding: 30px;
    border: 1px solid #ccc;
    max-width: 500px;
    margin: 50px auto auto;
    background-color: deepskyblue;
    box-shadow: 2px 2px 3px #ccc;
    color: white;
    box-sizing: border-box;
    display: none;
    font-weight: bold;
}

#weather h1 {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 30px;
}

#weatherDescription {
    float: left;
}

#weatherTemperature {
    float: right;
}

#load {
    padding: 30px;
    max-width: 500px;
    margin: 50px auto auto;
    display: none;
}